<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Chirper is really just a way for me to familiarize
  myself with rails development.  The Chirper source code can be found 
  <a href="https://github.com/p-tricky/sample_app.git">here</a>
  .  The code is based almost entirely on the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl.  I would highly recommend the book to anyone 
  interested in learning rails. 
</p>
